body{
    margin: 0;
  padding: 0;
  background-color: #ff7f50d7;

}
.title{
    font-size: 25px;
    text-decoration-color: #5a32b8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
    width: 100%;
  z-index: 2;
  padding: 20px;

}
.infoPersonajes{
    margin-top: 150px;
  margin-bottom: 60px;

}
.card{
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
    height: 100%;
    color: #5f9ea0;
   
}
.list{
    background-color: cornflowerblue;
}